<%- include('partials/header')%>
<div class="sub-menu">
	<div class="container-fluid">
		<p><a href="index.html"><span class="fas fa-home" aria-hidden="true"></span> Home</a> / about<p>
	</div>
</div>
<h2 class="page-header">About us</h2>
<!--article-->
<div class="about">
	<div class="container">
      <article>
        <div class="col-sm-8  about-article">
        	<h4>Kibondo editions </h4>
					<p class="top">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed convallis metus nec egestas luctus. Nulla aliquam tellus ac quam facilisis, et pharetra mi condimentum. Vestibulum sit amet quam ut lacus hendrerit elementum. Quisque ac dui porttitor, accumsan tortor sed, volutpat metus. Ut eleifend odio tortor, dapibus congue eros cursus vel. Donec turpis risus, malesuada eget velit nec, malesuada molestie lorem. Nulla sed interdum velit. Vestibulum porttitor neque sit amet felis pretium interdum. Morbi porta eleifend magna eu cursus. Vivamus placerat magna urna, vitae convallis ex porta eu. Pellentesque viverra diam ac massa dignissim, a ultricies lectus ullamcorper.t</p>
					<p>ed lacus turpis, maximus id fringilla a, rhoncus et erat. Aliquam sed justo quis libero vehicula rutrum. Proin vestibulum malesuada libero non gravida. Nunc eget dignissim nulla. Nullam in pretium neque. Sed et augue nisl. Aliquam lobortis odio ligula, eu iaculis sem maximus at. Nam bibendum tincidunt neque, vitae feugiat est sagittis quis. Proin auctor neque lectus, quis ullamcorper ligula cursus a. Aliquam erat volutpat.  					</p>
          <p><b>Vision:</b>Curabitur metus dui, posuere a placerat molestie, mollis vitae magna. Nunc a vestibulum nunc. Aliquam id rhoncus orci. Nam arcu turpis, pretium sed ligula aliquam, interdum rutrum mi. Vivamus eget arcu id turpis molestie luctus. Duis arcu dui, ultrices ac justo non, egestas sodales tellus. Aliquam placerat mi ipsum, ac fringilla nunc fermentum nec.</p>
          <p><b>Mission:</b>Curabitur metus dui, posuere a placerat molestie, mollis vitae magna. Nunc a vestibulum nunc. Aliquam id rhoncus orci. Nam arcu turpis, pretium sed ligula aliquam, interdum rutrum mi. Vivamus eget arcu id turpis molestie luctus. Duis arcu dui, ultrices ac justo non, egestas sodales tellus. Aliquam placerat mi ipsum, ac fringilla nunc fermentum nec.<p>
          <p><b>Objectives:</b>Curabitur metus dui, posuere a placerat molestie, mollis vitae magna. Nunc a vestibulum nunc. Aliquam id rhoncus orci. Nam arcu turpis, pretium sed ligula aliquam, interdum rutrum mi. Vivamus eget arcu id turpis molestie luctus. Duis arcu dui, ultrices ac justo non, egestas sodales tellus. Aliquam placerat mi ipsum, ac fringilla nunc fermentum nec.</p>
        </div>
        <div class="clearfix"> </div>
      </article>
    </div>
</div>
<%- include('partials/header')%>