<%- include('partials/header')%>
<div class="sub-menu">
  <div class="container-fluid">
    <p>
      <a href="index.html"
        ><span class="fas fa-home" aria-hidden="true"></span> Home</a
      >
      / contact
    </p>
    <p></p>
  </div>
</div>
<!-- contact -->
<div class="container">
  <div class="contact">
    <div class="w3_agileits_contact_grids">
      <div class="col-md-9 w3_agileits_contact_grid_right">
        <h2 class="w3_agile_header">Add a<span> Book Categories</span></h2>

        <form action="/categories" method="POST" enctype="multipart/form-data">
          <input
            type="text"
            placeholder=" category name"
            name="name"
          /><br /><br />
          <input
            type="text"
            placeholder="description"
            name="description"
          /><br /><br />
          <%= typeof msg != 'undefined' ? msg :''%>
          <input
            type="file"
            id="image"
            placeholder="image"
            name="image"
          /><br /><br />
          <img
            id="image-preview"
            height="80"
            width="80"
            style="display: none;"
          />
          <span id="image-name"></span>
          <button type="submit">Submit</button>
        </form>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<script src="/js/scripts.js"></script>
<%- include('partials/footer')%>
