<div class="footer">
    <div class="container-fluid">
      <div class="w3_footer_grids">
      <div class="row">
        <div class="col-sm-4 w3_footer_grid">
          <h3>Contact</h3>
          
          <ul class="address">
            <li><i class="fa fa-map-marker" aria-hidden="true"></i><a href="https://goo.gl/maps/5x53wx8ybpC2">Kigali,Rwanda.</a></li>
            <li><i class="fa fa-envelope" aria-hidden="true"></i><a href="Kibondoedition@gmail.com">Kibondoeditions.ltd@gmail.com</a></li>
            <li><i class="fas fa-mobile-alt" aria-hidden="true"></i>+(250) 788 422 242</li>
          </ul>
        </div>
        <div class="col-sm-4 w3_footer_grid">
          <h3>Social media</h3>
          
          <ul class="address">
            <li><i class="fab fa-facebook-f"></i><a href="#">kibondo editions</a></li>
            <li><i class="fab fa-twitter"></i><a href="#">@kibondo editions</a></li>
            <li><i class="fas fa-phone-github" aria-hidden="true"></i></li>
          </ul>
        </div>
        <div class="col-sm-4 w3_footer_grid">
          <h3>Information</h3>
          <ul class="info"> 
            <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="about.html">About Us</a></li>
            <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="contact.php">Contact Us</a></li>
            </ul>
            <form class="form-footer">
              <input type="text" placeholder="enter your email" name="subcribers" required=""> 

  
              <input type="submit" value="subscribe" >

            </form>
            
        </div>
        
        <div class="clearfix"> </div>
      </div>
      </div>
    </div>
    <div class="footer-copy">
      <div class="container">
        <p>© 2018 Kibondo Editions. All rights reserved </p>
      </div>
    </div>    
  </div>
  <!--sripts-->
  <script type="text/javascript" src="assets/js/scripts.js"></script>
  <!--pure chat-->
  <script type='text/javascript' data-cfasync='false'>window.purechatApi = { l: [], t: [], on: function () { this.l.push(arguments); } }; (function () { var done = false; var script = document.createElement('script'); script.async = true; script.type = 'text/javascript'; script.src = 'https://app.purechat.com/VisitorWidget/WidgetScript'; document.getElementsByTagName('HEAD').item(0).appendChild(script); script.onreadystatechange = script.onload = function (e) { if (!done && (!this.readyState || this.readyState == 'loaded' || this.readyState == 'complete')) { var w = new PCWidget({c: '4a96319b-bbbe-4be1-82c8-cd8cd9d82d9d', f: true }); done = true; } }; })();</script>
</body>
</html>